*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #87C159, #FEE3A2);
}

.calculator-grid {
    display: grid;
    margin-top: 5rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    background-color: #E0F4F5;
    margin: 2px;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(1, 130, 64, 0.65);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 2px;
}

.output .previous-operand {
    color: #E0F4F5;
    font-size: 1.5rem;
}

.output .current-operand {
    color: #E0F4F5;
    font-size: 2.5rem;
}